@import "stripped-down-bootstrap.css";
.sidebar-section-right{
    border: 5px dotted red !important;
}
#billing_billing{
     display: none;
}
.woocommerce-Price-amount.amount{
    /*display: none;*/
}
.woocommerce form .form-row textarea{
    height: 250px !important;
}
.price{
    display: flex;
}
.price span.amount{
    margin-left: 5px;
}
.site-title.font-effect-emboss{
    font-family: monospace !important;


}