@import "stripped-down-bootstrap.css";

.sidebar-section-right {
    border: 5px dotted red !important;
}

#billing_billing {
    display: none;
}

.woocommerce-Price-amount.amount {
    /*display: none;*/
}

p.woocommerce-shipping-destination {
    display: none;
}

.woocommerce-shipping-calculator {
    display: none;
}

.woocommerce form .form-row textarea {
    height: 250px !important;
}

.price {
    display: flex;
}

.price span.amount {
    margin-left: 5px;
}

#tc-page-wrap {
    overflow: hidden;
}

/*Test thema margin and padding 'container'*/
.container.widget__container .row {
    /*margin-left: -30px;*/
    /*margin-right: -30px;*/
}

.container .flex-row.row {
    /*margin-left: -50px;*/
    /*margin-right: -45px;*/
}

@media (max-width: 767px) {
    #main-wrapper {
        padding-left: 0 !important;
        padding-right: 0 !important;

    }
}

/*.row-x section[class^=post-] .row {*/
/*    margin-top: 1.25em;*/
/*    margin-bottom: 2.5em;*/
/*}*/
/*.row-x {*/
/*    display: -webkit-box;*/
/*    display: -ms-flexbox;*/
/*    display: flex;*/
/*    -ms-flex-wrap: wrap;*/
/*    flex-wrap: wrap;*/
/*    margin-right: -15px;*/
/*    margin-left: -15px;*/
/*}*/
.woocommerce .quantity .qty {
    width: 5em !important;
}

/* Table style */
@media screen and (max-width: 1800px) {
    td {
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 1200px) {
    td {
        font-size: 0.8rem !important;
    }
    th.my-table{
        padding: 14px 0 !important;
    }
}

@media screen and (max-width: 800px) {
    td {
        font-size: 0.6rem;
        white-space: pre-wrap !important;
        line-height: 0.6rem !important;
    }
    th.my-table{
        padding: 4px 1px !important;
    }
}
@media screen and (max-width: 400px) {
    th.my-table{
        padding: 1px !important;
    }
}
table {
    table-layout: fixed !important;
    font-size: 0.7em !important;
    font-family: sans-serif !important;
}

th.my-table {
    line-height: 2rem !important;
    text-align: center !important;
    white-space: nowrap !important;
}

td.my-table {
    /*vertical-align: center !important;*/
    line-height: 2rem !important;
    text-align: center !important;
    white-space: nowrap !important;
}

.table-my-style td {
    padding: 5px 1px !important;
}

/*Убираем цену товара со страницы всех товаров*/
.products li a .price {
    display: none !important;
}

.woocommerce .woocommerce-error {
    border-left: 10px solid #b81c23 !important;
    border-top: 1px solid #b81c23 !important;
    border-right: 1px solid #b81c23 !important;
    border-bottom: 1px solid #b81c23 !important;
    background: transparent !important;
    color: #000000 !important;
    margin-left: 0 !important;
    line-height: 1.1rem !important;
}

.woocommerce .woocommerce-message {
    border-left: 10px solid #237b00 !important;
    border-top: 1px solid #237b00 !important;
    border-right: 1px solid #237b00 !important;
    border-bottom: 1px solid #237b00 !important;
    background: transparent !important;
    color: #000000 !important;
    margin-left: 0 !important;
    line-height: 1.1rem !important;
}

.woocommerce .woocommerce-info {
    border-left: 10px solid #00b5ae !important;
    border-top: 1px solid #00b5ae !important;
    border-right: 1px solid #00b5ae !important;
    border-bottom: 1px solid #00b5ae !important;
    background: transparent !important;
    color: #000000 !important;
    margin-left: 0 !important;
    line-height: 1.1rem !important;
}

.woocommerce-info::before {
    color: #00b5ae !important;
}

.woocommerce-message::before {
    color: #237b00 !important;
}

.woocommerce-error::before {
    color: #b81c23 !important;
}

.woocommerce-message {
    padding-left: 20px !important;
}

th.product-remove {
    width: 50px !important;
}

#customer_details div {
    /*display: none !important;*/
}

.vag-hide {
    display: none;
}

form.recvizit {
    flex-wrap: wrap;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button.first {
    padding: 20px !important;
    background: white !important;
    border: 1px solid #c1c1c1 !important;
}

.button.last {
    margin: 5px 15px !important;
    background: #237b00 !important;
    color: white !important;
}

table.table-my-style tr td:first-of-type {
    border-right: 1px solid #888888 !important;
}
table.table-my-style{
    border: 2px solid #cecece !important;
}
p.price:nth-of-type(2) {
    color: transparent !important;
}
